.App {
  text-align: center;
}
input.transparent-input {
  background-color: transparent !important;
  border: none !important;
}

.transparent {
  background-color: transparent !important;
  border: none !important;
  color: white;
}

.border {
  border: solid white 4px;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.fieldwidth {
  width: 60%;
  margin-left: 20%;
}

a:hover {
  cursor: pointer;
  color: black;
}

.btn-col {
  color: white;
  border-radius: 25px;
  background-color: tomato;
  padding: 5px 60px;
  font-size: large;
  text-decoration: none;
  width: 40%;
}

.bordernone {
  border: none;
}

.title {
  font-size: 30px;
}
.searchbar {
  border-radius: 30px;
  width: 60%;
  padding: 7px;
  margin-bottom: 30px;
  margin-left: 20%;
  background-color: white;
}
.header-right {
  float: right;
  padding: 5px;
}

.header-right-width {
  float: right;
  padding: 5px;
  width: 10%;
}
.headersec {
  background-color: brown;
  color: white;
  overflow: hidden;
}
.wolor {
  color: white;
  text-decoration: none;
}

/* input::placeholder {
  color: white;
} */

.error-msg-color {
  color: white;
}
/* ::placeholder {
  color: white;
} */
.bgimage {
  background-image: url('images/prize-bg-image.png');
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inline {
  display: inline;
}
