.App {
  text-align: center;

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
input.transparent-input {
  background-color: transparent !important;
  border: none !important;
}

.border {
  border: solid white 4px;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.btn-col {
  color: white;
  border-radius: 25px;
  background-color: tomato;
  padding: 5px 60px;
  font-size: large;
}
.wolor {
  color: white;
  text-decoration: none;
}

input::placeholder {
  color: white;
}

.error-msg-color {
  color: white;
}
/* ::placeholder {
  color: white;
} */
.bgimage {
  background-image: url('images/prize-bg-image.png');
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
